doctype html 
html 
  head 
    title List View 
  body 
    h1 Here is the data to be annotated
    div 
      table(border=1)
        tr 
          th Tile
          th Article
          th Anit-China 
          th Anti-Japan
          th Anti-US
          th China-Fellow
          th Japan-Fellow
          th US-Fellow
          th Anti-KMT
          th KMKT-Fellow
          th Anti-DPP
          th DPP-Fellow
          th Anti-Taiwan-Gov
          th Taiwan-Gov-Fellow
          th UUID
        each x in rows
          tr 
            td= x.title
            td= x.article
            td= x.Anti_China
            td= x.Anti_Japan
            td= x.Anti_US
            td= x.China_Fellow
            td= x.Japan_Fellow
            td= x.US_Fellow
            td= x.Anti_KMT
            td= x.KMT_Fellow
            td= x.Anti_DPP
            td= x.DPP_Fellow
            td= x.Anti_Taiwan_Gov
            td= x.Taiwan_Gov_Fellow
            td= x.UUID